__pycache__/
*.pyc
paper/main.aux
paper/main.bbl
paper/main.blg
paper/main.log
paper/main.out
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.log
paper/paper.out
paper/main.pdf
paper/texput.log
experiments/*.log
